/* Universal */

html {
  font-family: verdana;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {

}

/* Header */

header {
  height: 64px;
  z-index: 999;

}



#logolink {
  height: 32px;
  padding-left: 24px;
}

#logolink span {
  padding-bottom: 4px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 24px;
  justify-content: space-between;
}

nav span {
  padding-left: 16px;
}

/* Banner Section */

#banner {

  background-color: gray;

}

#banner img {
  padding: 32px 24px 32px 24px;
  max-width: 60%;

}
