/* Universal */

html {
  font-family: verdana;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {

}

/* Header */

header {
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 999;
  background-color: white;
}

header #logolink a {
  display: flex;
  align-items: center;
}

#logolink {
  height: 32px;
  padding-left: 24px;
}

#logolink span {
  padding-bottom: 4px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 24px;
}

nav span {
  padding-left: 16px;
}

/* Banner Section */

#banner-section {
  padding-top: 64px;
  background-color: gray;
}

#banner-section img {
  padding: 32px 24px 32px 24px;
  max-width: 60%;
}

#banner-section .signup {
  font-family: helvetica;
  /*padding-right: 180px;*/
}

.text h1 {
  font-weight: 900;
}

.button {
  height: 32px;
  background-color: #333333 ;
}

.button p {
  text-align: center;
  padding: 8px;
  color: white;
}

/* Info Section */

#info-section {
  
}
